<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${company.name}"></h1>

<p th:replace="fragments :: username"></p>

<form method="POST">
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Clocked In</th>
            <th>Clocked Out</th>
            <th>Delete?</th>
        </tr>
        <tr th:each="shift : ${shifts}">
            <td th:text="${shift.date}"></td>
            <td th:text="${shift.timeIn}"></td>
            <td th:text="${shift.timeOut}"></td>
            <td><input type="checkbox" name="shiftIds" th:value="${shift.id}" th:id="${shift.id}"/></td>
        </tr>
    </table>

    <input type="submit" value="Remove"/>
</form>
</body>
</html>