<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${company.name}"></title>
    <link th:href="@{/css/webtimesheet.css}" rel="stylesheet" />

</head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<p th:replace="fragments :: username"></p>

<h1 th:text="${company.name}"></h1>

<table>
        <tr>
            <th>Date</th>
            <th>Clocked In</th>
            <th>Clocked Out</th>
        </tr>
        <tr th:each="shift : ${shifts}">
            <td th:text="${shift.date}"></td>
            <td th:text="${shift.timeIn}"></td>
            <td th:text="${shift.timeOut}"></td>
        </tr>
</table>


</body>
</html>