<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Web Time Sheet</title>
</head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<table th:each="company : ${companies}">
    <h1 th:text="${company.name}"></h1>
    <tr>
        <th>Date</th>
        <th>Clocked In</th>
        <th>Clocked Out</th>
    </tr>
    <tr th:each="shift : ${company.shifts}">
        <td th:text="${shift.date}"></td>
        <td th:text="${shift.clockedIn}"></td>
        <td th:text="${shift.clockedOut}"></td>
        <input type="hidden" th:value="${shift.shiftId}"/>
    </tr>
</table>

<nav>
    <a href="/shift/remove">Remove</a>
</nav>
</body>
</html>