<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Time Sheet</title>
</head>
<body>

<nav th:replace="fragments :: navigation"></nav>

    <h1>Web Time Sheet</h1>

    <form th:object="${shift}" method="post">
        <label th:for="*{clockedIn}">Clocked In:
            <input th:field="*{clockedIn}"/></label>
            <input type="radio" name="time_of_in" value="AM"/>AM
            <input type="radio" name="time_of_in" value="PM"/>PM<br/>
        <label th:for="*{clockedOut}">Clocked Out:
            <input th:field="*{clockedOut}"/></label>
            <input type="radio" name="time_of_out" value="AM"/>AM
            <input type="radio" name="time_of_out" value="PM"/>PM<br/>
        <label th:for="company">Company
        <select name="companyId">
            <option th:each="company : ${companies}"
                    th:text="${company.name}"
                    th:value="${company.id}">
            </option>
        </select></label>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>