<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<p th:replace="fragments :: username"></p>

<h1>Add Employer</h1>

<form method="POST" th:object="${form}">
    <div class="form-group">
        <select name="companyId">
            <option th:field="*{companyId}" th:each="company : *{companies}"
                    th:value="${company.id}"
                    th:text="${company.name}">
            </option>
        </select>
        <input type="hidden" name="userId" th:value="*{user.uid}" />
        <span th:errors="*{companyId}"></span>
    </div>
    <input type="submit" value="Add Company"/>
    <span th:text="${error}"></span>
</form>

<a href="/submit-company">Don't see your employer here? Click here to submit!</a>

</body>
</html>