<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>My Employers</title>
</head>
<body>

<nav th:replace="fragments :: navigation"></nav>

<h1> My Employers</h1>

<h2 th:unless="${companies} and ${companies.size()}"><a th:href="'/add-company/' +${user.uid}"> No Employers. Click here to add! </a></h2>

<ul th:each="company : ${companies}">
    <a th:href="'/company/view/' +${company.id}"><li th:text="${company.name}"></li></a>
</ul>

</body>
</html>