!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${loginForm}">
    <div>
        <label th:for="email">Email</label>
        <input th:field="*{email}" />
        <div th:errors="*{email}"></div>
    </div>
    <div>
        <label th:for="password">Password</label>
        <input th:field="*{password}" type="password" />
        <div th:errors="*{password}"></div>
    </div>

    <input type="submit" value="Log In" />
</form>

</body>
</html>