<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<p th:replace="fragments :: username"></p>

<h1>Remove Employer</h1>

<form method="POST">
            <select name="companyId">
                <option th:each="company : ${user.companies}"
                        th:value="*{company.id}"
                        th:text="*{company.name}">
                </option>
            </select>
        <input type="hidden" name="userId" th:value="*{user.uid}" />
    <input type="submit" value="Remove"/>
</form>
</body>
</html>